# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# Carthage
Carthage/Build/

# Fastlane
ios/fastlane/report.xml
ios/fastlane/Preview.html
ios/fastlane/screenshots/
ios/fastlane/test_output/

# Supabase
shared/supabase/.branches
shared/supabase/.temp

# Secrets
ios/Secrets.xcconfig

# Other
*.ipa
*.dSYM.zip
*.dSYM
