# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/
fastlane/test_output/

# Supabase
supabase/.branches
supabase/.temp

# Secrets
Secrets.xcconfig

# Other
*.ipa
*.dSYM.zip
*.dSYM
